<div class="container my-5">
 <div class="row">
   <div class="row">
	    	<% @recipes.each do |recipe| %>
          <div class="col-3 mt-3">
           <%= link_to admin_recipe_path(recipe) do %>
            <% if recipe.image.attached? %>
             <%= image_tag recipe.image, size: "200x200" %>
            <% else %>
             <%= image_tag 'no_image', size: "200x200" %>
            <% end %>
		         <% end %>
		         <p><%= recipe.name %></p>
		         <p><%= recipe.introduction %></p>
          </div>
        <% end %>
	   </div>
	  <%= paginate @recipes %>
 </div>
</div>