

<div class="container my-5">
 <div class="row">
  <div class-"offset-1">
   <h2><strong>レシピ編集</strong></h2>
  </div>
 </div>
  <main>
     <%= form_with model: [:public, @recipe] do |f| %>
     <%= f.hidden_field :image %>
     <section class="introduction">
      <div class="introduction__inner">
       <div class="introduction__img-field">

         <div class="description__texts">
          <div class="cooking-title"><strong>レシピについて</strong></div>
           <div class="description__inputBx">
            <%= f.text_field :name, placeholder: "タイトル(50文字以内)", class: "form-control col-sm-4" %><br>
            <%= f.text_area :introduction, placeholder: "紹介文(140字以内)", class: "form-control col-sm-4" %><br>
            <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "image" %>
           </div>
           <br>
　　　　　<!-- 材料 -->
         <div class="cooking-title"><strong>材料</strong></div>
          <section class="ingredient">
           <%= f.fields_for :ingredients do |ingredient| %>
            <%= render "ingredient_fields", f: ingredient %>
           <% end %>
           <%= link_to_add_association "追加", f, :ingredients, class: "btn btn-outline-primary ms navbar-brand" %>
          </section>
         </div>
        </div>
      <br>
      <!-- 作り方 -->
      <div class="cooking-title"><strong>作り方</strong></div>
       <section class="step">
        <%= f.fields_for :cook_steps do |step| %>
         <%= render "cook_step_fields", f: step %>
        <% end %>
        <%= link_to_add_association "追加", f, :cook_steps, class: "btn btn-outline-primary ms navbar-brand" %>

       </section>


 　 　 </div>
 　　<div class="form-group">
  　 <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>
    <div class="cancel"><%= link_to '編集をやめる', public_recipe_path, class: "btn btn-outline-primary ms navbar-brand" %></div>
    <div class="cancel"><%= link_to 'レシピを消去する', public_recipe_path , method: :delete, "data-confirm" => "削除してよろしいですか？" , class: "btn btn-outline-primary ms navbar-brand" %></div>

    <% end %>

