<main>
 <div class="container my-5">
  <div class="row">
   <div class= "cooking-tittle">
   <% if @search.present? %>
    <h2 class="recipe-heading">「<%= @search %>」の検索結果<i class="fa-solid fa-magnifying-glass"></i></h2>
   <% else %>
  　<h2 class="recipe-heading"><i class="fa-solid fa-magnifying-glass"></i>検索結果</h2>
   <% end %>
   </div>
   <div class="row">
   <% @recipe. each do |recipe| %>
    <div class="col-3 mt-3">
    <% if recipe.image.attached? %>
     <%= image_tag recipe.image, size: "200x200" %>
    <% else %>
     <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
     <p><%= recipe.name %></p>
	    <p><%= recipe.introduction %></p>
	   </div>
   <% end %>
 </div>
</main>
    