<div class="container my-5">
  <div class="row">
　　<h2 class="recipe-heading"><i class="fa-solid fa-utensils"></i>レシピ詳細</h2>
  </div>
  <section class="favorite">
   <% if @recipe.favorited_by?(current_user) %>
    <p>
      <%= link_to public_recipe_favorites_path(@recipe), method: :delete do %>
        <h3>♥<%= @recipe.favorites.count %> いいね</h3>
      <% end %>
    </p>
   <% else %>
    <p>
      <%= link_to public_recipe_favorites_path(@recipe), method: :post do %>
        <h3><i class="fa-solid fa-heart-circle-plus"></i><%= @recipe.favorites.count %> いいね</h3>
      <% end %>
    </p>
   <% end %>
  </section>
  <div>
      <h3><i class="fa-solid fa-user"></i>投稿者
      <%= link_to public_recipe_path(@recipe) do %>
      <td><%= @recipe.user.last_name %><%= @recipe.user.first_name %></td>
      <% end %>
      </h3>
  </div>
<!-- 画像 -->
    <div class="row">
            <% if @recipe.image.attached? %>
             <%= image_tag @recipe.image, size: "200x200" %>
            <% else %>
             <%= image_tag 'no_image', size: "200x200" %>
            <% end %>
    </div>
<!-- タイトル -->
    <div class="col-5">
     <div class="row mt-3">
      <h4><strong><%= @recipe.name %></strong></h4>
     </div>
<!-- 説明 -->
     <div class="row mt-3">
      <p><%= @recipe.introduction %></p>
     </div>
<!-- 材料 -->
     <div class="row">
　　  <h2 class="recipe-heading"><i class="fa-solid fa-utensils"></i>材料</h2>
     </div>
     <table class= "table">
      <thead>
    　 <tr>
     　  <th>材料</th>
　　　  <th>分量</th>
　　　  <th></th>
　　　 </tr>
　　　</thead>
　　　<tbody>
       <% @recipe.ingredients.each do |ingredient| %>
        <tr>
         <td><%= ingredient.name %></td>
         <td><%= ingredient.quantity %></td>
        </tr>
       <% end %>
      </tbody>
     </table>
</div>

<!-- 作り方 -->
<div class="container my-5">
　　<div class="row">
　　  <h2 class="recipe-heading"><i class="fa-solid fa-utensils"></i>作り方</h2>
     </div>
     <table class= "table">
      <thead>
    　 <tr>
     　  <th>手順</th>
　　　  <th></th>
　　　  <th></th>
　　　 </tr>
　　　</thead>
　　　<tbody>
       <% @recipe.cook_steps.each do |cook_step| %>
        <tr>
         <td><%= cook_step.direction %></td>
         <td></td>
        </tr>
       <% end %>
      </tbody>
     </table>
  <%= link_to "編集する", edit_public_recipe_path, class: "btn btn-outline-dark mr-4 navbar-brand" %>
  <br>
  <br>
</div>
<div class="container my-5">
  <div class="row">
　　<h2 class="recipe-heading"><i class="fa-regular fa-comment"></i>コメント</h2>
  </div>
  <table class= "table">
    <p>コメント件数：<%= @recipe.comments.count %></p>
      <thead>
    　 <tr>
     　  <th>ユーザー名</th>
     　  <th>日付</th>
　　　  <th>コメント</th>
　　　  <th></th>
　　　 </tr>
　　　</thead>
　　　<tbody>
       <% @recipe.comments.each do |comment| %>
        <tr>
         <td><%= comment.user.last_name %><%= comment.user.first_name %></td>
         <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
         <td><%= comment.comment %></td>
        </tr>
       <% end %>
      </tbody>
     </table>
      <%= @comment.comment %>
</div>
<div class="container my-5">
  <%= form_with model: [:public, @recipe, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control col-sm-4"%>
    <br>
    <%= f.submit "送信する", class: "btn btn-outline-dark mr-2 navbar-brand col-sm-4"%>
  <% end %>
</div>
</div>


