<main>
　<div class="container">
    <div class="recipe row">
      <div class="col-lg-6">
        <%= image_tag 'cook-share1.png', size: "500x400" %>
      </div>
      <div class="col-lg-6">
        <br>
        <br>
        <br>
        <br>
        <div class="cooking-title"><strong>レシピ検索▶︎</strong></div>
        <div class="description__inputBx">
          <%= render 'public/recipes/recipe_search' %>
        </div>
        <br>
        <div class="cooking-title"><strong>タグ検索▶︎</strong></div>
        <div class="description__inputBx">
          <%= render 'public/recipes/tag_list' %>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-5">
　　<h2 class="recipe-heading"><i class="fa-solid fa-utensils"></i>新着レシピ(全<%= @amount %>件)</h2>
    <br>
    <div class="row">
     <% @recipes.each do |recipe| %>
          <div class="box col-3">
           <%= link_to public_recipe_path(recipe), :style =>"color: #432c28;" do %>
            <% if recipe.image.attached? %>
             <%= image_tag recipe.image, size: "200x200",class:"card-img-top" %>
            <% else %>
             <%= image_tag 'no_image', size: "200x200",class:"card-img-top" %>
            <% end %>
		         <br>
		         <br>
		         <h4><strong><%= recipe.name %></strong></h4> 
		         <p>♥<%= recipe.favorites.count %> いいね</p>
		         <h6><%= recipe.introduction %></h6>
		       <% end %>
          </div>
     <% end %>
     </div>
    <div class="pagination">
	   <%= paginate @recipes %>
	  </div>
   </div>
  </div>
</main>
