<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CookShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/be3b64c1fe.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class= "header">
      <% if request.fullpath.include? "admin"  %>
        <%= render 'layouts/admin_header' %>
      <% else%>
        <%= render 'layouts/user_header' %>
      <% end %>
    </header>
      <%= yield %>
    <footer>
      <p class="footer-text">© 2022-2023 Tomoka Murai All rights reserved.</p>
    </footer>
  </body>
</html>